/*************************
      dashboard-suppliers = dbs
***************************/
body,
#root,
main {
  display: flex;
  font-size: small;
}

/************************************* 
          dashboard-suppliers 
          sidebar container 
**************************************/

.dbs__sidebar {
  flex: 0.01;
  /* display: flex;
  flex-direction: column; */
  background: #fff;
}

.dbs__sidebar__items ul {
  padding: 0px;
  margin: 0;
  list-style: none;
}
.dbs__sidebar__items li i {
  padding: 15px;
  color: grey;
  opacity: 0.5;
  border: white 2px solid;
}

.dbs__sidebar__items li i:hover {
  color: #fff;
  opacity: 1;
  background: #6ee5bf;
  border: #ddd 2px solid;
}

.dbs__sidebar__items__user-circle {
  padding: 15px;
  color: grey;
  border-top: #e3e4e6 2px solid;
}

/*************************
        dashboard-suppliers 
            Panel 
**************************/
.dbs__panel {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #F3F4F6;
}

.dbs__panel--header {
  transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
  /* display: flex;
  justify-content: flex-end;
  background: #e3e4e6;  */
  text-align: center;
  /* padding-bottom: 15px; */
}

.dbs__panel--body {
  flex: 1;
  border-left: #e3e4e6 1px solid;
}
/*******************************
        dashboard-suppliers
        Panel Status = ps
********************************/

.dbs__ps--wrap {
  /* flex: 0.5;
  display: flex; 
  background: #e3e4e6;
  padding-right: 15px;   */
}

/*******************************
        dashboard-suppliers
        Market Status
********************************/
.bs__ps__market-status {
  /* flex: 1; 
  background: #ffffff;*/
  border-radius: 5%;
  /* margin: 10px 5px;
  padding: 15px 0px;
  border: whitesmoke 1px solid; */
}

.bs__ps__market-status--invitation {
  border: #f5c77e 1px solid;
}

.bs__ps__market-status--rfq {
  border: #6dbddf 1px solid;
}

.bs__ps__market-status--offersent {
  border: #73cdbb 1px solid;
}

.bs__ps__market-status-number {
  font-size: medium;
}

.bs__ps__market-status-name {
  opacity: 0.5;
  padding: 5px;
}

.bs__ps__market-status--bottom-line-invitation {
  display: inline-block;
  width: 35%;
  border-bottom: 2px solid #f5c77e;
}

.bs__ps__market-status--bottom-line-rfq {
  display: inline-block;
  width: 35%;
  border-bottom: 2px solid #6dbddf;
}

.bs__ps__market-status--bottom-line-offersent {
  display: inline-block;
  width: 35%;
  border-bottom: 2px solid #73cdbb;
}

/*******************************
    dashboard-suppliers = dbs
    Panel Info Suppliers = pis
********************************/
.dbs__pis {
  /* background: #F3F4F6; */
  display: grid;
  grid-auto-columns: auto auto auto;
  margin: 0px;
  padding: 0px;
  list-style: none;
}

.dbs__pis__market-table {
  background: #f3f4f6;
  padding: 5px;
}

.dbs__pis__market-table__title {
  /* font-size: large; */
  color: #b9bdc7;
}

.dbs__pis__market-table__heading {
  /* display: flex; */
  color: rgb(168, 168, 168);
  /* margin: 15px; */
}

.dbs__pis__market-table__heading--wrap {
  /* flex: 0.5;
  display: flex;
  justify-content: space-between; */
}

.dbs__pis__market-table__heading__status-suppliers {
  /* flex: 0.2;
  padding-left: 5%;
  text-align: right; */
}
/*******************************
        dashboard-suppliers 
        Market Details
********************************/

.dbs__pis__market-table__details {
  display: flex;
  border: #eae9ec 1px solid;
  background: white;
  padding: 20px;
  color: grey;
}

.dbs__pis__market-table__details--wrap {
  flex: 0.5;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.dbs__pis__market-table__details__name-technology {
  display: flex;
  flex-direction: column;
}

.dbs__pis__market-table__details__suppliers {
  flex: 0.3;
  padding-left: 5%;
  text-align: left;
}
.dbs__pis__market-table__details__status {
  flex: 0.4;
}

.dbs__pis__market-table__details__status-offer--btn {
  border-radius: 70px;
  color: #fff;
  background-color: #00cab4;
  padding: 10px;
  font-size: small;
  float: right;
  white-space: normal;
}

.dbs__pis__market-table__details__status--approval {
  flex: 0.5;
  display: grid;
  grid-template-columns: 20% 100%;
  float: right;
}

.dbs__pis__market-table__details__bordure-left--invitation {
  border-left: #e4af4b 3px solid;
}

.dbs__pis__market-table__details__bordure-left--rfq {
  border-left: blue 3px solid;
}

.dbs__pis__market-table__details__bordure-left--offersent {
  border-left: green 3px solid;
}

/*******************************
        dashboard-suppliers 
        Panel-footer
********************************/
.dbs__panel-footer {
  /* display: grid;
  grid-template-columns: 15% 20% 1fr 20% 15%;
  background: #f3f4f6;
  padding: 40px 0px; */
}

.dbs__panel-footer__span {
  display: inline-block;
  font-size: small;
  padding-left: 10px;
  color: grey;
  opacity: 0.5;
}

.dbs__panel-footer__logo,
i {
  text-align: center;
  opacity: 0.5;
}

.dbs__panel-footer__localisation {
  display: grid;
  grid-template-columns: 5% 90%;
}
